<app-navbar selectedItem="about"></app-navbar>
<br/>
<br/>
<div class="container-group">
    <div class="col-1"></div>
    <div class="col-2">
        <div class="polaroid">
            <div class="img">
                <img src="assets/img/michelle.jpeg">
            </div>
            <div class="socials">
                <a href="https://www.linkedin.com/in/mkee/"><i class="fa-brands fa-linkedin"></i></a> 
                <a href="https://github.com/Tokibun"><i class="fa-brands fa-github"></i></a> 
            </div>   
        </div>
    </div>
    <div class="col-3">
        <div class="col">
            <br/>
            <p class="large-text">
                Hi! I'm Michelle. I'm a <span class="text-highlight">computer science</span> graduate of University of Toronto. I have a passion for front-end development. 
            </p>
            <br/>
            <p class="small-text">
                I developed a passion for programming back in 2016 when I began creating games using Windows Form Applications with C# in Visual Studios. 
                In addition, I built small-scale projects involving Arduino and various other electronic components. 
                These projects includes a mini crane, kitchen timer, security system, and more. 
                This passion propelled me to pursue a degree in computer science, aiming to further refine my programming skills. 
                Throughout my academic journey at University of Toronto, I seized valuable opportunities to complete multiple co-op placements at CIBC and Hootsuite where I worked as an Application developer and Mobile developer.
            </p>
            <br/>
        </div>       
    </div>
    <div class="col-1"></div>
</div>

<div class="container-group">
    <div class="col-1"></div>
    <p class="large-text col-5">
        I plan to transition to full-stack development. 
        I utilize Angular, ASP.NET, C#, IIS Express, and MSSQL at my current workplace. 
        Additionally, I am actively expanding my skillset by self-learning the MERN stack in my freetime.
    </p>
    <div class="col-1"></div>
</div>

<br/>
<br/>
<div class="container-group">
    <div class="col-1"></div>
    <img class="col-3-full star" src="assets/star.svg"/>
    <div class="col-1"></div>
</div>
<br/>
<br/>

<div class="container-group">
    <div class="col-1"></div>
    <div class="col-3">
        <p class="large-text">
            Outside of programming, I enjoy expensive hobbies which include keyboard building, pc building and gaming.
        </p>
        <br/>
    </div>
    <div class="col-2">
        <div class="polaroid right">
            <div class="img">
                <img src="assets/img/aio-closeup.jpg">
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>