<div class="about">
    <div class="container">
        <div class="column-is-12">
            <h1 class="title has-text-centered section-title">Nice to meet you!</h1>
        </div>
        <div class="columns is-multiline ">

            <div class="column is-half has-vertically-aligned-content">
                <p class=" intro-title">I'm Michelle</p>
                <br/>
                <p class="intro">I have graduated from the
                    <a class="highlight" href="https://www.utsc.utoronto.ca/home/">
                        <i class="fas fa-graduation-cap"></i>
                        University of Toronto</a> with HBSc in Computer Science.
                    I aim to develop tools and software that can improve quality of life.
                    <br/>
                </p>
                <br/>

                <p class="intro">I've previously worked as:</p>
                <ul class="intro fa-ul">

                    <li>
                                <span class="fa-li">
                                <i class="fas fa-briefcase highlight"></i>
                                </span>
                        Teaching Assistant @ <a class="intro"
                                                href="https://www.utoronto.ca/">University of Toronto</a>
                        <br/>
                        <div class="smaller">Sept 2022 - Dec 2022</div>
                    </li>

                    <li>
                                <span class="fa-li">
                                <i class="fas fa-briefcase highlight"></i>
                                </span>
                        Software Developer @ <a class="intro"
                                                href="https://www.hootsuite.com/en-gb">Hootsuite</a>
                        <br/>
                        <div class="smaller">Jan 2022 - Sep 2022</div>
                    </li>

                    <li>
                                <span class="fa-li">
                                <i class="fas fa-briefcase highlight"></i>
                                </span>
                        Software Developer @ <a class="intro"
                                                href="https://www.cibc.com/en/personal-banking.html">CIBC</a>
                        <br/>
                        <div class="smaller">May 2021 - Aug 2021</div>
                    </li>

                    <li>
                                <span class="fa-li">
                                <i class="fas fa-briefcase highlight"></i>
                                </span>
                        Application Developer @ <a class="intro"
                                                   href="https://www.cibc.com/en/personal-banking.html">CIBC</a>
                        <br/>
                        <div class="smaller">Jan 2020 - June 2020</div>
                    </li>

                    <li>
                                <span class="fa-li">
                                <i class="fas fa-hands-helping highlight"></i>
                                </span>
                        IT Consultant @ <a class="intro" href="https://meioatuoft.github.io/">MEIO</a>
                        <br/>
                        <div class="smaller">Feb 2021 - Apr 2021</div>
                    </li>

                    <li>
                                <span class="fa-li">
                                <i class="fas fa-hands-helping highlight"></i>
                                </span>
                        Mentor @ <a class="intro" href="https://linktr.ee/wicsm.utsc">WiCSM</a>
                        <br/>
                        <div class="smaller">Sept 2020 - Apr 2021</div>
                    </li>
                </ul>

                <br/>
                <p class="intro">I am currently seeking full-time opportunities.</p>
                <br/>

            </div>

            <div class="column is-half ">
                <img class="michelle " src="/assets/img/michelle3.jpg"/>
            </div>

        </div>
    </div>
</div>