<section id="timeline">

    <div class="timeline-block">
        <div class="timeline-dot"></div>

        <div class="timeline-content">
            <h2>Specialist - IT Developer</h2>
            <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    Expertech
                </span>
                <span class="timeline-content-info-date">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    June 2023 - Present
                </span>
            </div>
            <div class="description">
                <ul>
                    <li>
                        Maintain, update, and troubleshoot Android applications utilized by technicians
                    </li>
                    <li>
                        Develop new internal web applications to facilitate electronic form submissions and streamline approval processes
                    </li>
                </ul>
                <br/>
            </div>
            <ul class="content-skills">
                <li>Angular</li>
                <li>C#</li>
                <li>ASP.NET</li>
                <li>MSSQL</li>
                <li>IIS Express</li>
                <li>Android</li>
                <li>Java</li>
                <li>Kotlin</li>
            </ul>
        </div>
    </div>

    <div class="timeline-block">
        <div class="timeline-dot"></div>

        <div class="timeline-content">
            <h2>Specialist - IT Developer</h2>
            <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    Expertech
                </span>
                <span class="timeline-content-info-date">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    June 2023 - Present
                </span>
            </div>
            <div class="description">
                <ul>
                    <li>
                        Maintain, update, and fix Android applications
                    </li>
                    <li>
                        Create new web applications, internal tools
                    </li>
                </ul>
                <br/>
            </div>
            <ul class="content-skills">
                <li>Angular</li>
                <li>C#</li>
                <li>ASP.NET</li>
                <li>MSSQL</li>
                <li>IIS Express</li>
                <li>Android</li>
                <li>Java</li>
                <li>Kotlin</li>
            </ul>
        </div>
    </div>

    <div class="timeline-block">
        <div class="timeline-dot"></div>

        <div class="timeline-content">
            <h2>Specialist - IT Developer</h2>
            <div class="timeline-content-info">
                <span class="timeline-content-info-title">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    Expertech
                </span>
                <span class="timeline-content-info-date">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    June 2023 - Present
                </span>
            </div>
            <div class="description">
                <ul>
                    <li>
                        Maintain, update, and fix Android applications
                    </li>
                    <li>
                        Create new web applications, internal tools
                    </li>
                </ul>
                <br/>
            </div>
            <ul class="content-skills">
                <li>Angular</li>
                <li>C#</li>
                <li>ASP.NET</li>
                <li>MSSQL</li>
                <li>IIS Express</li>
                <li>Android</li>
                <li>Java</li>
                <li>Kotlin</li>
            </ul>
        </div>
    </div>
    
</section>