.card {
    height: 100%;
    display:flex;
    flex-direction: column;
    background-color: #EFF8FF;
}
.card-footer {
    margin-top: auto;
}

img{
    height: 10vh;
    width: 10vh;
}

.project-title{
    color: #fd6a89 ;
    font-family: 'Kaushan Script', sans-serif ;
    font-size: 1.6rem;
}

.subtitle{
    color: #005A8D;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 1rem;
}


.tech{
    font-family: 'Kaushan Script', sans-serif;
    font-size: 0.9rem;
}

.date{
    color: #022E57 ;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 1rem;
}