<br/>
<div class="project-card temp">
    <div class="col-1">
        <p class="large-text">{{project.title}}</p>
        <p class="tiny-text">{{project.date}}</p>
        <br/>
        <p class="small-text">{{project.description}}</p>
        <br/>
        <p class="tiny-text">Skills : {{project.skills}}</p>
        <a class="tiny-text" href="{{project.url}}">Link to project</a>
    </div>
    <div class="img-container col-1">
        <img src="{{project.imgSrc}}"/>
    </div>
</div>
<br/>
<div class="dotted-line"></div>