<section id="timeline">
    <div *ngFor="let experience of experiences" class="timeline-block">
        <div class="timeline-dot">
            <img class="col-3-full star" src="assets/svg/star-black.svg"/>
        </div>
        <div class="timeline-content">
            <h2 *ngIf="experience.title">{{experience.title}}</h2>

            <div *ngIf="experience.company || experience.date" class="timeline-content-info">
                <span *ngIf="experience.company" class="timeline-content-info-title">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    {{experience.company}}
                </span>
                <span *ngIf="experience.date" class="timeline-content-info-date">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    {{experience.date}}
                </span>
            </div>

            <div class="description">
                <ul>
                    <li *ngFor="let point of experience.description">{{point}}</li>
                </ul>
            </div>

            <ul class="content-skills">
                <li *ngFor="let skill of experience.skills">{{skill}}</li>
            </ul>
        </div>
    </div>
</section>