/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  background-color: #EAE6FE;
}

@font-face {
  font-family: 'Kodchasan';
  src: url("./assets/font/Kodchasan-Regular.ttf");
}