.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 21.5vh;
    padding-bottom: 2.83vh;
    font-family: Kodchasan;
}

.title-name {
    color: #2b303a;
    text-align: center;
    font-size: 8.5vw;
    line-height: normal;
    margin: 0;
}

.scroll-content {
    border-radius: 2em 2em 2em 2em;
    background-color: #6987c9;
    color:#eae6fe;
    text-align: center;
    font-size: 4.25vw;
    line-height: normal;
    overflow: hidden;
    width: 60vw;
    white-space: nowrap;
}

.down-arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4.5vw;
}